@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
  width: 100%;
  min-width: 320px;
  height: 100%;
  background: radial-gradient( circle at 60% 90%, rgb(206 119 106), transparent 60% ), radial-gradient( circle at 20px 20px, rgb(38 37 40), transparent 25% ), #182336;
}
